@font-face {
    font-family: 'TitleFont';
    src: url('../fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BodyFont';
    src: url('../fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 800;
}

body {
    background-image: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2015/02/447638-guia-league-legends-grieta-invocador.jpg?tf=1200x');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 96.3vw;
    height: 15vh;
    border-radius: 10px;
    background-position: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'TitleFont';
}

p, button{
    font-family: 'BodyFont';
}
   /* Boton de Filtrado */
.container-filter-btn{
    display: flex;
    width: 3%;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    margin: 0 auto;
    
    box-shadow: 0px 0px 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 120px;
    gap: 50px;
}

.champion, .item, .rune {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    background: rgba(0, 0, 0, 0.237);
    color: #e6e6e6;
    transition: transform 0.5s;
    gap: 5px;

    view-timeline-name: --reveal;

    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 10%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

.champion:hover, .item:hover, .rune:hover{
    transform: scale(1.04);
}

.champion img, .item img, .rune img {
    max-width: 100%;
}

.item img{
    width: 70px;
    height: 70px;
}

.champion h2, .item h2, .rune h2 {
    margin: 5px;
}

.hidden {
    display: none;
}

/* Estilos para los botones */
button {
    padding: 10px 20px;
    margin: 5px auto 20px;
    background-color: #e6e6e6;
    color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 15px;
}

button:hover {
    background-color: #555;
    color: #e6e6e6;
}

/* Contenedor del Filtrado */
.container-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: -300px;  
    width: 300px;
    color: #555;
    background-color: #e6e6e6;
    height: 100%;
    transition: all .5s linear;
    padding: 2rem;
    overflow: hidden;
    z-index: 2;
}
.container-filter img {
    width: 50%;
}
.container-filter.active {
    left: 0;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    cursor: pointer;
    color: #555;
    transition: color 0.3s;
    padding: 0px 15px;
}
.close-btn:hover {
    color: #e6e6e6;
}
/* Selector */
.select {
    text-align: center;
}
.select h3 {
    padding-bottom: 10%;
}
.select select {
    background-color: #e6e6e6;
    color: #555;
    box-shadow: 0px 0px 15px;
}
/* Buscador */
.form-grup {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    background-color: #e6e6e6;
    color: #555;
    box-shadow: 0px 0px 15px;
}
.form-grup input {
    text-align: center;
    border: none;
    outline: none;
    background-color: #e6e6e6;
    color: #555;
}
.icon-search {
    width: 20px;
    height: 20px;
    stroke: #555;
    background-color: #e6e6e6;
}
.btn-search {  
    border-radius: 25px;
    cursor: pointer;
}
.select select {
    width: 150px;
    text-align: center;
    padding: 10px 0;
    border: none;
    border-radius: 25px;
}
/* Estilos para los checkboxes */
.roles {
    text-align: center;
}
.roles h3 {
    padding-bottom: 10%;
}
#roles-checkboxes {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    transition: all .3s linear;
}
#roles-checkboxes label {
    display: block;
    margin: 5px 0;
}
