@font-face {
    font-family: 'TitleFont';
    src: url('../fonts/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BodyFont';
    src: url('../fonts/Spiegel-TTF/Spiegel_TT_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 800;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'TitleFont';
}

p, button{
    font-family: 'BodyFont';
}

#bg-img {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
}

h2, h3, h5 {
    color: #ffcc00;
}
.item-detail {
    background-position: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-bottom: 10px;
}   

main {
    width: 50%;
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px auto;
    padding: 15px 0;
    gap: 10px;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 96.3vw;
    height: 15vh;
    border-radius: 10px;
    background-position: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.item div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgrade-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.upgrade-items img{
    margin: 10px 0;
}

/* Extras de Item*/
.item-info {
    margin-top: 20px;
}

.item-info p {
    margin: 5px 0;
    font-size: 14px;
}

.item-info h2 {
    margin-bottom: 10px;
}


/* Boton regresar */
.back-home{
    background-color: #e6e6e6;
    color: #555;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 auto;
    transition: 0.5s;
    box-shadow: 0px 0px 15px;
}
.back-home:hover{
    background-color: #555;
    color: #e6e6e6;
}